---
layout: archive
lang: en
---


<p>
Biologist, researcher and project manager with a passion for data analysis and data science. This is my personal website, and here I present my profile, projects, collaborations and some information I have collected over the years regarding data analysis and data science. 
</p>

<p>
For more information, check the links on the left side. *If you are on a smartphone, click on "follow me" to see the links. To contact me, please send me an email.
</p>

<p>
Thank you for your interest!
</p>