---
layout: archive
---

<p>Great! For some reason you landed here!</p>

<p align="justify">I hope you are looking for more information about my work.
  This is my professional website where you may find all relevant information
  regarding me and my work. My name is Samuel Carleial Fernandes, I am a biologist
  who likes code and numbers. Among other things, I also like science and the use
  of computer tools to answer research questions. For these reasons, I decided
  to move from Plant Ecology and Evolution towards the wider field of data science
  (or name it as you wish).</p>



<p>Cheers</p>
