---
layout: archive
---

<p>Great! For some reason you landed here!</p>

<p>I suppose, however, that you are looking for more information about my work.</p>
  
<p align="justify">My name is Samuel Carleial Fernandes, I am a biologist who likes nature, 
  science and programming. Here is my professional website, where you may find all relevant
  information regarding me and my work. In science, I commonly make use of computer tools 
  to answer different research questions. For these and other reasons, I have decided to 
  move from the specific topic of Plant Ecology and Evolution to the wider field of data 
  science.</p>
  
<p align="justify">Please take a look at my current projects and cv, for more information.
  If you are interested in what I do, or if you need support on data analysis, contact me!</p>
